name: CD

on:
  push:
    tags: "v*"

jobs:
  publish:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v5
      with:
        lfs: true
    - run: make linux-x86-64-sse4 linux-x86-64-avx2
      if: runner.os == 'Linux'
    - run: make windows-x86-64-sse4 windows-x86-64-avx2
      if: runner.os == 'Windows'
    - run: make mac-aarch64-neon mac-aarch64-sme
      if: runner.os == 'macOS'
    - run: ls "${{ github.workspace }}/target/bin/"
    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: "${{ github.workspace }}/target/bin/*"
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
